import logging

# This is the 'config-file' for the bot.
# Copy this file to 'config.py' and paste your Telegram-Bot-API-Key and you're good to go.
# If you want you can change the 'DB' value to anything that SQLAlchemy understands.
# If you do that, you might need to install additional python modules for the database.
# Logger is either 'console' or 'systemd'. While 'console' is the default,
# you should use 'systemd' if you can.

cfg = {
    "API_KEY": "PASTE_YOUR_TOKEN_HERE",
    "DB": "sqlite+pysqlite:///buergeramt_termine.sqlite",
    "LOG": "console",
    "LOG_LEVEL": logging.DEBUG,
}
